In [ ]:
# Objrctive: To implement various data flow transformations
# That are commonly used in ETL processes.

In [1]:
#     NAME- Tarun Kumar Singh     PRN- 22070521014
import pandas as pd

In [3]:
data = {
    'ID' : [1, 2, 3, 4, 5, 6],
    'Name' : ['Abhay', 'Vaibhav', 'Srijan', 'Neeraj', 'Amrit', 'Avinash'],
    'Age' : [20, 24, 23, 36, 30, 41],
    'Country' :['India', 'India', 'USA', 'USA', 'UK', 'Australia'],
    'Sales' : [200, 400, 350, 550, 200, 450]
}

In [5]:
df = pd.DataFrame(data)
print("Original Dataset: ")
print(df)

Original Dataset:
   ID     Name  Age    Country  Sales
0   1    Abhay   20      India    200
1   2  Vaibhav   24      India    400
2   3   Srijan   23        USA    350
3   4   Neeraj   36        USA    550
4   5    Amrit   30         UK    200
5   6  Avinash   41  Australia    450

In [7]:
# Character Map: Convert 'Name' to uppercase
df['Name_Upper'] = df['Name'].str.upper()
print("\nCharacter map (Uppercase Names): ")
print(df[['ID', 'Name', 'Name_Upper']])

Character map (Uppercase Names):
   ID     Name Name_Upper
0   1    Abhay      ABHAY
1   2  Vaibhav    VAIBHAV
2   3   Srijan     SRIJAN
3   4   Neeraj     NEERAJ
4   5    Amrit      AMRIT
5   6  Avinash    AVINASH

In [9]:
# Multicast: Create two copies of the dataset
df_copy1 = df.copy()
df_copy2 = df.copy()

# Transformation on each copy
df_copy1['Sales'] *= 1.1    #Increase sales by 10%
df_copy2['Age'] += 5    #Increase sales by 5 years

print("\nMulticast (Modified Copies): \n")
print("Copy 1 (Sales Increased): ")
print(df_copy1)
print("\nCopy 2 (Age Increased): ")
print(df_copy2)

Multicast (Modified Copies):

Copy 1 (Sales Increased):
   ID     Name  Age    Country  Sales Name_Upper
0   1    Abhay   20      India  220.0      ABHAY
1   2  Vaibhav   24      India  440.0    VAIBHAV
2   3   Srijan   23        USA  385.0     SRIJAN
3   4   Neeraj   36        USA  605.0     NEERAJ
4   5    Amrit   30         UK  220.0      AMRIT
5   6  Avinash   41  Australia  495.0    AVINASH

Copy 2 (Age Increased):
   ID     Name  Age    Country  Sales Name_Upper
0   1    Abhay   25      India    200      ABHAY
1   2  Vaibhav   29      India    400    VAIBHAV
2   3   Srijan   28        USA    350     SRIJAN
3   4   Neeraj   41        USA    550     NEERAJ
4   5    Amrit   35         UK    200      AMRIT
5   6  Avinash   46  Australia    450    AVINASH

In [11]:
# Coditional Split: Sales >300
high_sales = df[df['Sales'] >300]
low_sales = df[df['Sales'] <=300]
print("\nConditional Split: ")
print("\nHigh Sales: ")
print(high_sales)
print("\nLow Sales: ")
print(low_sales)

Conditional Split:

High Sales:
   ID     Name  Age    Country  Sales Name_Upper
1   2  Vaibhav   24      India    400    VAIBHAV
2   3   Srijan   23        USA    350     SRIJAN
3   4   Neeraj   36        USA    550     NEERAJ
5   6  Avinash   41  Australia    450    AVINASH

Low Sales:
   ID   Name  Age Country  Sales Name_Upper
0   1  Abhay   20   India    200      ABHAY
4   5  Amrit   30      UK    200      AMRIT

In [13]:
# Aggregation
# Description: Aggtrate data, e.g., cslculates total sales by country.
# Aggregation: Total sales by Country 
agg_df = df.groupby('Country')['Sales'].sum().reset_index()
print("\nAggregration (Total sales by Country): ")
print(agg_df)

Aggregration (Total sales by Country):
     Country  Sales
0  Australia    450
1      India    600
2         UK    200
3        USA    900

In [17]:
# Sort
# Description: Sort the dataset by Sales in decreasing order.
# Sort: Sort by Sales i decreasing order
sorted_df = df.sort_values(by = 'Sales', ascending = False)
print("\n Sort (Descending Sales): ")
print(sorted_df)

 Sort (Descending Sales):
   ID     Name  Age    Country  Sales Name_Upper Sales_Category
3   4   Neeraj   36        USA    550     NEERAJ           High
5   6  Avinash   41  Australia    450    AVINASH           High
1   2  Vaibhav   24      India    400    VAIBHAV           High
2   3   Srijan   23        USA    350     SRIJAN           High
0   1    Abhay   20      India    200      ABHAY            Low
4   5    Amrit   30         UK    200      AMRIT            Low

In [19]:
# Deerived Colum: Categorize sales as 'High' or 'Low'
df['Sales_Category'] = df['Sales'].apply(lambda x: 'High' if x > 300 else 'Low')
print("\nDerived Columns (Sales Category): ")
print(df[['ID', 'Name', 'Sales', 'Sales_Category']])

Derived Columns (Sales Category):
   ID     Name  Sales Sales_Category
0   1    Abhay    200            Low
1   2  Vaibhav    400           High
2   3   Srijan    350           High
3   4   Neeraj    550           High
4   5    Amrit    200            Low
5   6  Avinash    450           High